/**************************************** Tag Selectors ***************************************/
h1, h2, h3, body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  line-height: 1.5;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}


/**************************************** Class Selectors *************************************/
.container-fluid {
  padding: 6% 12%;
}

#footer .container-fluid {
  padding: 1% 12%;
}

.navbar {
  padding-bottom: 2.5rem;
}

.nav-item {
  padding: 0% 20px;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.feature-box {
  padding: 10% 0%;
}

.btn-group {
  margin: 3% 0%;
}

.title-image {
  width: 13%;
  position: absolute;
  transform: rotate(25deg);
}

@media (max-width: 1957px) {
  .title-image {
    width: 15%;
    position: absolute;
    transform: rotate(0deg);
  }
}

@media (max-width: 1183px){
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

@media (max-width: 991px) {
  .title-info {
    text-align: center;
  }

  .title-image {
    width: 30%;
    position: static;
    transform: rotate(0deg);
  }
}


.icon {
  color: rgb(210, 141, 30);
  padding: 2% 0%;
}

.icon:hover {
  color: rgb(89, 63, 15);
  padding: 2% 0%;
}

.footer-icon {
  padding: 2% 5px;
  color: black;
}

.testimonials-images {
  width: 20%;
  border-radius: 15%;
  margin: 12px;
}

.carousel-item {
 padding: 0% 12%;
}

.press-images {
  margin: 0% 2%;
}

.card {
  margin: 5% 0%;
}


/**************************************** ID Selectors ****************************************/
#features {
  z-index: 1;
  position: relative;
}
