/**************************************** Tag Selectors ***************************************/
h1, h2, h3, body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  line-height: 1.5;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}


/**************************************** Class Selectors *************************************/
.container-fluid {
  padding: 8% 12%;
}

#navbarMap .container-fluid{
  padding: 0% 5%;
}

#title .container-fluid{
  padding-bottom: 3.5%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 15%;
}

#footer .container-fluid {
  padding: 1% 12%;
}

.navbar {
  padding-bottom: 2rem;
}

.nav-item {
  font-size: 1.1rem;
  margin: 1% 50px;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.banner-img {
  filter: brightness(0) invert(1);
  width: 10%;
}

.feature-box {
  padding: 10% 0%;
}

.btn-group {
  margin: 3% 0%;
}

.title-image {
  width: 13%;
  position: absolute;
  transform: rotate(0deg);
}

/* Mobile & Tablet size */
@media (max-width: 980px) {
  .title-image {
    width: 50%;
    position: absolute;
    left: 25%;
    transform: rotate(0deg);
  }

  .banner-img {
    filter: brightness(0) invert(1);
    width: 10%;
  }

  .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    width: 85%;
    margin: 0% 0%;
  }

  #navbarMap .container-fluid{
    padding: 0% 5%;
  }

  #title .container-fluid{
    padding-bottom: 70%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 40%;
  }

  #title h1{
    font-size: 5rem;
    line-height: 1.2;
  }

  .navbar-toggler {
    width: 12%;
    height: 64px;
    padding: 0% 0%;
  }

  .nav-item {
    font-size: 2.5rem;
    padding: 1% 20px;
  }

  #title .btn-group {
    text-align: center;
    width: 85%;
    height: 80px;
  }

  #title .btn{
    font-size: 2.5rem;
    font-weight: bold;
  }
}

/* Laptop Size */
@media (min-width: 1024px) {
  .title-image {
    width: 25%;
    position: absolute;
    transform: rotate(0deg);
  }
}

/* Wide Screen Size */
@media (min-width: 1440px) {
  .title-image {
    width: 15%;
    position: absolute;
    transform: rotate(0deg);
  }
}

/* 4K Screen Size */
@media (min-width: 2560px) {
  .title-image {
    width: 15%;
    position: absolute;
    transform: rotate(-23deg);
    right: 30%;
    top: 15%;
  }

  #title .container-fluid{
    padding-bottom: 10%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 15%;
  }
}

.icon {
  color: rgb(210, 141, 30);
  padding: 2% 0%;
}

.icon:hover {
  color: rgb(89, 63, 15);
  padding: 2% 0%;
}

.footer-icon {
  padding: 2% 5px;
  color: black;
}

.testimonials-images {
  width: 20%;
  border-radius: 15%;
  margin: 12px;
}

.carousel-item {
 padding: 0% 12%;
}

.press-images {
  margin: 0% 2%;
}

.card {
  margin: 5% 0%;
}


/**************************************** ID Selectors ****************************************/
#features {
  z-index: 1;
  position: relative;
}

#navbarMap {
  z-index: 2;
  position: fixed;
  width: 100%;
}
